<?xml version='1.0'?>
<root>
    <!-- Указание путей к файлам -->
    <path customers="./config/customers/" managers="./config/managers" />

    <!-- Описание того, что хотят менеджеры -->
    <managers >
	<manager filename="first.csv" producer="Бабушкины_фрукты" merch="" />
	<manager filename="second.csv" producer="Дедушкины_овощи" merch="" />
	<manager filename="third.csv" producer="" merch="яблоки" />
    </managers>

</root>
